* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --padding: 60px;
}

.App {
  height: 100vh;
  text-align: center;
  background-image:url(./img/pattern.png);
}
.title{
  /* 폰트 크기, 색깔, 위치 설정 */
  padding-top: 5vh;
  display:fixed;
  font-family: Century Gothic, sans-serif;
  font-size: 50px;
  color:black;
}

/* 로그인폼 */
.box {
  position: relative;
  top:10vh;
  margin: 50px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
  background-color: #c4dfff;
  border-radius: 7px;
  height: 400px;
}

.box input,
.box button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
}
.box input {
  margin-bottom: 25px;
}
.box button {
  width:160px;
  background-color: rgb(163, 215, 236);
  color: #547fb2;
  border-radius: 10px;
  margin-bottom: 15px;
}
.center{
  margin:auto;
}