{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>아이디</th>
            <th>가입일시</th>
        </tr>
        </thead>
        <tbody>
        {% if user_list %}
        {% for user in user_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'image_editor:detail' user.id %}">{{ user.user_id }}</a>
            </td>
            <td>{{ user.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">회원이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>